body{
    margin:0;
    background-image: url("diana2.jpg");
    background-size: cover;
    color:whitesmoke;
}

.page{
    margin: -20px 0px 100px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    width: 1350px;
    background-color: #C68684;
}
.inter{
    margin-left: 60px;
}
#font{
    font-family: 'Bentham', serif;
}
#btn{
    background-color:#C68684;
    padding: 10px 8px 10px 8px;
    border: none;
    border-radius: 3px;
    color: whitesmoke;

}
.txtshad{
    text-shadow: 0px 0px 15px black;
}
