body{
    margin:0;
    background-image: url("diana2.jpg");
    background-size: cover;
    color:whitesmoke;
}

.page{
    margin: 0px 0px 100px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 150%;
    width: 100%;
    background-color: #C68684;
    padding: auto;
}
#home{
    margin-left: 200px;
}
#contact{
    margin-right: 200px;
}
.inter{
    margin:200px 0 0 60px;
}
#font{
    font-family: 'Bentham', serif;
}
#btn{
    background-color:#C68684;
    padding: 10px 8px 10px 8px;
    border: none;
    border-radius: 3px;
    color: whitesmoke;

}
.txtshad{
    text-shadow: 0px 0px 15px black;
}
