body{
    margin:0;
    background-image: url("diana2.jpg");
    background-size: cover;
    color:whitesmoke;
}

.page{
    margin: 0% 0% 10% 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 150%;
    width: 100%;
    background-color: #C68684;
    padding: auto;
}
#home{
    margin-left: 13%;
}
#contact{
    margin-right: 13%;
}
.inter{
    margin:10% 0 0 3%;
}
#font{
    font-family: 'Bentham', serif;
    margin-bottom: 2%;
}
#paragraph{
    margin-bottom: 3%;
    font-weight: bold;
}
#btn{
    background-color:#C68684;
    padding:  1% 2% 1.5%;
    border: none;
    border-radius: 5%;
    color: whitesmoke;
    margin-top: 3%;
    font-weight: bold;
    font-size: large;

}
.txtshad{
    text-shadow: 0% 0% 150% black;
}
#marquee{
    direction: right;
    behavior: slide;
    font-weight: bold;
    font-size: 300%;
    color: whitesmoke;
    margin-top: 7%;
    animation: blinker 1.5s linear infinite;
    text-shadow: 40em 40em #d37777;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}